

.home-section{
    padding: 0px 30px 0px 0px;
    margin-bottom: 50px;
    border: 1px solid black;
    margin-left: 1%;
    margin-right: 1%
}

.home-section header{
    /* height: 75px; */
    background-color: #193e63;
    color: white;
    font-size:x-large;
    font-weight: bolder;
    text-align: center;
    margin-left: 10px;
    justify-content: center;
    align-items: center;
    padding: 1px;
}



.section-header button{
    width: 50px;
    height: 50px;
}

.section-div{
    display: flex;
    margin-left: 20px;
    padding: 10px;
    /* border: 1px solid black; */
}

.section-div div{
    flex: 1;
    padding-bottom: 10px;
}

.section-div p, .student-home-input{
    border-bottom: 1px solid rgb(211, 206, 206);
    margin-right: 100px;
    padding-bottom: 10px;
    /* font-size: larger; */
    /* font-weight: 300; */
}

.section-div input{
    border:none;
    outline: 0;
    font-size: larger;
    font-weight: 500;
    width: 100%;
}



.home-section button{
    float: right;
    margin-right: 100px;
    background-color: #2C3E50;
    
}


.section-div div label{
    font-weight: bold;
    color: #033b73;
}


.personal-information-button{
    color: white;
    font-size: larger;
    /* padding-right: 500px;
    padding-left: 500px; */
    height: 50px;
    width:200px; 
    text-align: center;
    border-radius: 5px 5px 5px 5px;

}